{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
{% include "usermenu.html" %}
<h3>Личные сообщения</h3>
{% if object %}
	<p>
		<i>Сообщение</i>
		<br>
		{{ object.message }}
	</p>
	<p>
		<i>Отправитель:</i> <a href="{{ object.user_sender.get_absolute_url }}">{{ object.user_sender }}</a>
		<br>
		<i>Получатель:</i> <a href="{{ object.user_reciver.get_absolute_url }}">{{ object.user_reciver }}</a>
	</p>
	<p><i>Отправлено:</i> {{ object.sended|date:"SHORT_DATETIME_FORMAT" }}</p>
{% else %}
    <p>Нет информации.</p>
{% endif %}
<p><a href="{% url 'accounts:message_send' %}">Отправить сообщение</a></p>
{% else %}
{% include "pls_auth.html" %}
{% endif %}
{% endblock %}