<div class='spoiler'>
<a class="spoiler-head" href="#">Посмотреть расписание на другой день</a>
<div class="spoiler-body">
<form method="get" class="chose_time">
	<p>
		<select name="week">
			<option value="1">Понедельник</option>
			<option value="2">Вторник</option>
			<option value="3">Среда</option>
			<option value="4">Четверг</option>
			<option value="5">Пятница</option>
			<option value="6">Суббота</option>
			<option value="7">Воскресенье</option>
		</select> 
		<input type="submit" value="Открыть">
	</p>
</form>
</div>
<div class="clear"></div>
</div>